body {
  margin: 0;
  background-color: #fff;
}


.logo-frontpage{
  width: 100px;
}

.navbar{
  padding: 30px 60px;
  background-color: black !important;
}

.navbar-brand{
  color:#fff;
}

.navbar-brand:hover{
  color:#fff;
}

.nav-link{
  color:#fff;
  transition: all 0.2s ease-in-out;
}

.nav-link:hover{
  color:#cacaca;
  transition: all 0.2s ease-in-out;
}

.nav-item{
  padding: 3px 20px;
  transition: all 0.2s ease-in-out;
}

.nav-item:hover{
  padding: 3px 25px;
  transition: all 0.2s ease-in-out;
}

.login-btn{
  color:white;
  background-color: black;
  border: none;
  transition: all 0.2s ease;
}

.login-btn:hover{
  background-color: rgb(72, 72, 72);
  box-shadow: 2px 5px 3px #888888;
  transition: all 0.2s ease;
  border: none;
}

.login-div{
  margin:10% 30%;
  
}

.login-input{
  margin-bottom: 5px ;
  transition: all 0.2s ease;
}

.login-input:hover{
  box-shadow: 2px 5px 3px #888888;
  transition: all 0.2s ease;
}

